
.left_inner {
    float: left;
    width: 200px;
}

.left_inner ul {
}

.left_inner li {
    display: block;
    margin-bottom: 20px;
}

.left_inner li a{
    color: #404040;
}

.left_inner .btn {
	width: 150px;
	padding: 10px;
	font-size: 1.1em;
	text-align: center;
}

.right_inner {
    width: 680px;
    float: left;
}

.right_inner ul {
    list-style: none outside none;
    display: block;
}

.right_inner li {
    display: block;
    float: left;
}

.right_inner .badge_area {
    width: 120px;
    height: 180px;
    float: left;
    background: #E2F9A0;
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;
}

.right_inner .badge_area img {
    margin: 20px 20px 10px 20px;
    width: 80px;
    height: 80px;
    border-radius: 15px 15px 15px 15px;
}

.right_inner .badge_area h4 {
    line-height: 1.6em;
}

.right_inner .badge_area h4:hover {
    color: white;
}

.right_inner .badge_area p {
    text-align: center;
    font-size: 80%;
    display: none;
}

.menu_item{
    cursor: pointer;
    line-height: 30px;
    font-size: 14px;
}

.menu_title{
    line-height: 30px;
    font-size: 16px;
    margin-top:55px;
}

.menu_item_selected{
    -moz-border-radius: 0 0 3px 3px;
    background: none repeat scroll 0 0 #F5F5F5;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 1px 25px 5px;
}

.text_center {
    text-align: center;
}

.manageKids {
    padding-top: 35px;
}