/* Override some defaults */
html, body {
    background-color: #eee;
}

body {
	background: url(../images/main-bg.jpg) center;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}

.container {
    width: 920px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    padding: 20px 20px;
    margin: 0; /* negative indent the amount of the padding to maintain the grid system */
    background: url(../images/table-bg.png) center repeat-y;
    -webkit-border-radius: 0 0 3px 3px;
       -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 1px rgba(0,0,0,.15);
            box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
    background: url(../images/table-top.png) bottom center no-repeat;
    padding-bottom: 80px;
}

.page-header-parent {
    background: url(../images/table-top.png) bottom center no-repeat;
    padding-bottom: 80px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
}

.topbar .btn {
    border: 0;
}

h5 {
	background: url(../images/table-arrow-blue.png) top left no-repeat;
	padding: 0 0 0 10px;
	color: white;
}

.activity-list h5 {
    color: @white;
    text-shadow: -2px -2px 0 #7ea633, 
    			 2px -2px 0 #7ea633,
    			 0 2px 0 #7ea633,
    			 2px 0 0 #7ea633,
    			 -2px 0 0 #7ea633,  
    			 0 -2px 0 #7ea633,  			  
    			 -2px 2px 0 #7ea633,
    			 2px 2px 0 #7ea633; 
    background-color: #b1db62;
    background-image: none;
    border-bottom-color: #46a546;
    font-size: 1.4em;
    line-height: 29px;
	margin-bottom: 20px;
	padding: 10px 0 10px 50px;
}

.activity_img {
	background: #e8ebda;
}

h5.step1 {
	background: #b1db62 url(../images/step1.png) center left no-repeat;	
}

h5.step2 {
	background: #b1db62 url(../images/step2.png) center left no-repeat;	
}

h5.step3 {
	background: #b1db62 url(../images/step3.png) center left no-repeat;	
}

h5.step4 {
	background: #b1db62 url(../images/step4.png) center left no-repeat;	
}

/* Score Icon */

h2.score {
	color: #fed73d;
	line-height: 0.8em;
	padding-left: 10px;
    text-shadow: 0 -1px 0 #fbe812, 0 -3px 0 #e5aa0b, 2px 0 0 #e5aa0b, -2px -2px 0 #e5aa0b, 2px -2px 0 #e5aa0b, 0 3px 0 #c6a348, -2px 0 0 #e5aa0b,  -2px 2px 0 #e5aa0b, 2px 2px 0 #e5aa0b;
	font-size: 60px;	
}

/* Table icon*/
.icon_pend {
    width: 18px;
    height: 18px;
}

/* Put extra focus on elements */
.highlight {
	color: #489699;
	font-weight: bold;
}

li {
    cursor: pointer;
}
li :hover{
    color: #BFBFBF;
}

/* popover */
.popover .content{
    margin: 0px;
}



.parent{
  height: 36px;
  margin: 18px 0;
  float: right;
}

.parent .disabled{
   background-color: #f5f5f5;
   border-color: #ddd;
   cursor: not-allowed;
}

.parent ul {
  float: left;
  margin: 0;
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.parent li {
  display: inline;
}
.parent a{
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border-right: 1px solid;
  border-right-color: #ddd;
  border-right-color: rgba(0, 0, 0, 0.15);
  *border-right-color: #ddd;
  /* IE6-7 */
  text-decoration: none;
}
.parent a:hover, .parent .active a {
  background-color: #c7eefe;
  color:#0069D6;
}
.parent .disabled a, .parent .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.parent .next a {
  border: 0;
}

/*Table title*/
.table_title {
    margin: 0px 0px 15px 0px;
    border-bottom: 3px #BFBFBF solid;
    padding: 5px 10px;
    font-size: 23px;
    color: #4183C4;
}

.errorlist li{
    color:red;
}

#create_kids ul{
    margin:0;
}

#update_kids ul{
    margin:0;
}

#drop-activity, #drop-time, #drop-date {
	width: 160px;
	height: 100px;
	margin: 30px auto;
	border: 3px dashed #736357;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	font-family: crocante;
	text-align: center;
}

#drop-activity img, #drop-time img, #drop-date img {
	margin-top: 10px;
}

#drop-activity.hovered, #drop-time.hovered, #drop-date.hovered {
	background-color: black;	

}

#drop-activity.highlight, #drop-time.highlight, #drop-date.highlight {
	background-color: #D5F7F6;
	border: 3px dashed #99E0DC;
}

.ui-state-disabled {
	color: #534741;
}


#score-card {
	width: 220px;
	background: #DBC6AD;
	padding-bottom: 10px;
}

#score-card h5 {
	background: #998675;
	text-shadow: 0 -1px 0 #736357, 0 -3px 0 #736357, 2px 0 0 #736357, -2px -2px 0 #736357, 2px -2px 0 #736357, 0 3px 0 #736357, -2px 0 0 #736357,  -2px 2px 0 #736357, 2px 2px 0 #736357;
	font-size: 1.2em;
	margin: 0;
	padding: 10px 10px 10px 25px;
}

#score-card .btn {
	
}

#activities div, #times div, #dates div {
	width: 98px;
	height: 150px;
	margin: 10px 8px 0 0;
	padding: 10px;
	background-color: #D5F7F6;
	border: 1px solid #99E0DC;
	float: left;
	display:inline;
	font-family: crocante;
	text-align: center;
}

#activities div:hover, #times div:hover, #dates div:hover {
	cursor: move;
}


#activities div p, #times div p, #dates div p {
	padding: 10px 0 0 0;
}


#activities div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

