.value {
	color:#0988CB;
}

.body {
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:750px;
	border: 1px solid #DDDDDD;
	min-height:300px;
	-moz-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
	padding:5px;
	font-size:12px;
}

.head {
	background-color:#3FBEE7;
	width:100%;
	height:50px;
}

.head_text {
	float:left;
	margin-left:10px;
	margin-top:10px;
	font-size:30px;
	color:#9FDFF3;
}

.title {
	text-align:center;
	padding:10px ;
	margin-top:3px;
	background-color:#AAE3F5;
	width:730px;
}

.title_name {
    font-size: 16px;
    font-weight: bold;
}

.meta {
	text-align:center;
	margin-top:3px;
	background-color:#F2F2F2;
}

.meta_status {
	padding-top:5px;
}

.meta_other {
	padding-bottom:3px;
}

.main {
	margin-top:3px;
	border:1px solid #dddddd;
	min-height:200px;
}

.main table {
	width:728px;
	margin:5px 10px 0px 10px;
}

td {
	vertical-align:top;
}

.main table.table_work {
	width:630px;
	margin:0px;
}

.action {
	text-align:center;
	padding:5px ;
	margin-top:3px;
	background-color:#AAE3F5;
	width:740px;
}

.copyright {
	text-align:center;
	padding:5px ;
	margin-top:3px;
	background-color:#E5E5E5;
	width:740px;
}

.btn {
    background-color: #0064CD;
    background-image: -moz-linear-gradient(center top , #049CDB, #0064CD);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}