.ve
.Python
.idea
*.pyc
*.DS_Store
wjzpw/web/static/upload/avatars/*.*
wjzpw/web/static/upload/config/*.*
wjzpw/web/static/upload/adv_images/*.*
wjzpw/web/static/admin/*
wjzpw/web/static/tiny_mce/*
build/
dist/
django_tinymce.egg-info/
run.sh
vender/

ini_environment
