/* Override some defaults */
html, body, table {
    background-color: #eee;
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
}

form .control-group, .form-horizontal .control-group {
    margin-bottom: 10px;
}

form .sinput {
    margin-left: 30px;
    float: left;
}

label.slabel {
    width: 80px;
}

img {
    max-width: none;
}

.table .yellow {
    color: #FFC40D;
    border-bottom-color: #FFC40D;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.table .blue {
    color: #049cdb;
    border-bottom-color: #049cdb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.table .green {
    color: #46a546;
    border-bottom-color: #46a546;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.table .red {
    color: #9d261d;
    border-bottom-color: #9d261d;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.table .yellow {
    color: #ffc40d;
    border-bottom-color: #ffc40d;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.table .orange {
    color: #f89406;
    border-bottom-color: #f89406;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.table .purple {
    color: #7a43b6;
    border-bottom-color: #7a43b6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.table a {
    text-decoration: underline;
}

.table a:hover {
    text-decoration: none;
}

fieldset {
    margin-bottom: 0px;
    padding-top: 18px;
}

p {
    font-size: 12px;
}

label {
    padding-top: 2px;
    width: 130px;
    text-align: right;
    float: left;
}

.value {
    color: #0988CB;
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding-top: 2px;
    text-align: left;
    margin-left: 20px;
}

a.selected {
    color: #FF0000 !important;
}

body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.container > footer p {
    text-align: center; /* center align it with the container */
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1000px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.btn {
    text-shadow: none;
}

.btn.btn-primary {
    text-shadow: none;
}

.required_star {
    color: #ff0000;
    margin-right: 3px;
}

.row {
    margin: 0 0 10px 0;
}

.solid_border {
    border: #dddddd dashed 1px;
}

.view_fields {
    margin-bottom: 18px;
}

.view_fields .control-group {
    margin-bottom: 10px;
}

.view_fields .controls {
    margin-left: 150px;
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 10px 10px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.nav-tabs > li > a {
    line-height: 28px;
    font-weight: bold;
    font-size: 14px;
    padding: 0 15px;

}

.topbar div > ul.nav > li, .nav > li {
    font-weight: bold;
}

a {
    color: #1F376D;
}

a.more {
    color: #0069D6;
}

.nav-tabs {
    margin: 0px;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: 0px -20px 0px;
    height: 64px;
}

.content-header {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    margin: 0 -20px;
    padding: 0px 20px 0px 20px;
}

.banner {
    float: left;
    width: 380px;
}

.banner li {
    float: left;
}

.page-header .linedh {
    float: left;
    height: 60px;
    line-height: 26px;
    text-align: right;
    width: 280px;
    font-weight: bold;
}

.page-header .linedh li {
    font-weight: bold;
}

#logo {
    float: left;
    height: 60px;
    margin-left: 10px !important;
    width: 300px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
    min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

.topbar a {
    text-shadow: none;
}

dl, dd, dt, ul, li, h1, h2, h3, h4, h5, h6 {
    border: 0 none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: normal;
}

input, .uneditable-input {
    height: 13px;
}

select {
    height: 24px;
    padding: 0px;
}

.btn {
    font-size: 12px;
    padding: 3px 14px;
}

.right_layer .form-actions .btn {
    padding: 5px 14px;
    width: auto;
}

/* ��վ��ҳ��ʽ */

.employ_font {
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}

.main_login {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #DDDDDD;
    float: left;
    width: 260px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
}

.main_search {
    float: left;
    margin-left: 11px;
    margin-right: 1px;
    width: 453px;
}

.main_ann {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #DDDDDD;
    float: left;
    width: 280px;
    margin-left: 10px;
}

.main_search .con {
    border-left: 1px solid #FEE705;
    border-right: 1px solid #FEE705;
    border-bottom: 1px solid #FEE705;
}

.main_search .con form input {
    width: 130px;
}

.tit {
    font-size: 14px;
    font-weight: bold;
    color: #46A546;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding-left: 15px;
    border-bottom: 1px solid #DDDDDD;
}

.tit span {
    font-size: 12px;
    float: right;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
    width: auto;
}

.con {
    height: auto !important;
    line-height: 180%;
    margin: 0 auto;
    min-height: 30px;
    overflow: hidden !important;
    padding: 10px;
}

.con fieldset {
    padding-top: 0px;
    margin-bottom: 0px;
}

.con label {
    color: #404040;
    float: left;
    font-size: 12px;
    padding-top: 3px;
    text-align: right;
    width: 60px;
}

.con form {
    margin-bottom: 0px;
}

.con form .controls {
    margin-left: 0px;
    float: left;
}

.con form .control-group {
    margin-bottom: 10px;
}

.con .form-actions {
    -moz-border-radius: 0 0 3px 3px;
    background: none repeat scroll 0 0 #F5F5F5;
    border-top: 1px solid #DDDDDD;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
    height: 30px;

}

.con form img {
    vertical-align: bottom;
    width: 60px;
    height: 22px;
    margin-left: 6px;
}

.con  .btn {
    font-size: 14px;
    width: 80px;
    font-weight: bold;
    text-align: center;
}

.con .submit {
    padding-left: 20px;
    padding-right: 20px;
}

.form-actions  .btn {
    width: 70px;
}

/* Main page end */

/* key list */
.keylist {

}

.keylist ul {
    padding: 5px;
    height: auto;
    height: 50px;
}

.keylist ul li {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    font-size: 11px;
}

.main_ann .t1 {
    float: left;
}

.main_ann .anouncement {
    width: 150px;
    float: right;
    height: 76px;

}

.main_ann .anouncement a {
}

.main_ann .anouncement ul li {
    text-align: right;
}

.main_newspic {
    float: left;
    margin: 8px 0 0 10px;
    width: 275px;
    height: 140px;
    border: 1px solid #DDDDDD;
    padding: 3px;

    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.main_newspic img {
    width: 275px;
    height: 140px;
}

/* �����Ƽ���Ƹ�б�*/
.suggest_list ul {

}

.suggest_list ul li {
    float: left;
    padding-right: 6px;
    width: 327px;
    color: #1F376D;
    height: auto;
    line-height: 25px;
    list-style: none outside none;

}

.tjli {
    background-color: #F5F5F5;
}

.tjliA {
    background-color: #FFFBF1;
}

/*��������*/
.main_links {
    text-align: center;
    margin: 0px;
    margin-left: -20px;
    background-color: white;
    width: 1040px;
    color: #000000;
    height: 22px;
    list-style: none outside none;
    padding: 4px 0 0;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.main_search ul li {
    float: left;
    margin-right: 10px;
}

/**********���Ҳ���********************/
.left_layer {
    width: 188px;
    min-height: 30px;
    border-right: 1px solid #DDDDDD;
    float: left;
    padding: 6px;
}

.left_layer p {
    letter-spacing: 1.5px;
    line-height: 20px;
}

.right_layer {
    float: left;
    width: 799px;
    padding: 10px;
}

p.title {
    font-size: 13px;
    color: #268BD2;
    font-weight: bold;
}

.right_layer .main_login {
    width: 807px;
    margin-top: 10px;
}

/*********ע��ҳ��********************/
.work_experience {
    border-bottom: 1px dashed #46A546;
}

/*********����ҳ��***************************/
input, textarea, select, .uneditable-input {
    width: auto;
}

.table th, table td {
    line-height: 18px;
    padding: 6px 6px 5px;
    text-align: left;
}

.pagination {
    height: 36px;
    margin: 0;
}

.pagination a {
    line-height: 30px;
}

.table tr td.odd {
    background-color: #F9F9F9;
}

/**********************ְλ��ϸҳ������ְλҳ***************************/
.position_list ul li {
    padding-bottom: 5px;
}

.multi_view .sinput {
    width: 200px;
}

.multi_view .value {
    margin-left: 0px;
}

.real_name {
    FONT-SIZE: 14px;
    font-weight: bold;
    text-decoration: underline;
    color: "#ff0000"
}

.main_login_success ul li {
    margin-top: 10px;
}

/****************For django change**********/
.choice_radio ul li label {
    padding-right: 5px;
    width: auto;
}

.choice_radio ul {
    height: 23px;
    min-width: 180px;
}

ul.errorlist li {
    font-style: italic;
    color: red;
}

[class^="icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    *margin-right: .3em;
}

.icon-arrow-left {
    background-position: -240px -96px;
    background-position-x: -240px;
    background-position-y: -96px;
}

.icon-arrow-right {
    background-position: -264px -96px;
    background-position-x: -264px;
    background-position-y: -96px;
}

.datepicker table {
    background-color: white;
}

.choice_radio input {
    float: left;
}

.label-warning .label {
    text-shadow: none;
}

.form-horizontal .help-block {
    color: #BFBFBF;
    margin-top: 0px;
}

.inputs-list label {
    display: block;
    float: none;
    width: auto;
    padding: 0;
    line-height: 18px;
    text-align: left;
    white-space: normal;
    margin-bottom: 0px;
}

div.mutiple_select {
    margin-top: 10px;
    padding: 10px;
    height: 100px;
    width: 200px;
    overflow: scroll;
}

.upload_avatar #avatar-clear_id {
}

.upload_avatar label {
    width: auto;
    float: none;
    text-align: left;
    display: inline;
}

.span_wj2 {
    margin-left: 10px;
    margin-bottom: 12px;
    float: left;
    width: 161.5px;
    height: 60px;
}

.span_wj4 {
    margin-left: 10px;
    margin-bottom: 12px;
    float: left;
    width: 333px;
    height: 60px;
}

.span_wj10 {
    margin-left: 10px;
    margin-bottom: 12px;
    float: left;
    width: 1019px;
    height: 60px;
}

.adv_list img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}