{% load i18n %}
    <div id='create_kids' class="right_inner">
        <div class="span10">
            <h2>Add child</h2>

            <form id="kid_form" action="{% url settings %}" method="post">
                {% csrf_token %}
                {% if add_kid_success %}
                    <div class="alert-message success" id="alert-message" >
                        <a class="close" href="#" onclick="close_tip()">×</a>
                        You've successfully added a child.
                    </div>
                {% endif %}
                <fieldset>
                    {{ kidsForm.non_field_errors }}
                    <div class="clearfix">
                        <label for="xlInput">Name<span style="color:red"> *</span>:</label>

                        <div class="input">
                            {{ kidsForm.username }}
                            {{ kidsForm.username.errors }}
                        </div>
                    </div>

                    <div class="clearfix">
                        <label>Real Name:</label>

                        <div class="input">
                            {{ kidsForm.realname }}
                            {{ kidsForm.realname.errors }}
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="xlInput">Password<span style="color:red"> *</span>:</label>

                        <div class="input">
                            {{ kidsForm.password }}
                            {{ kidsForm.password.errors }}
                        </div>
                    </div>

                    <!-- start gender-->
                    <div class="clearfix">
                        <label id="optionsCheckboxes">Gender:</label>

                        <div class="input">
                            <ul class="inputs-list">
                                {{  kidsForm.gender }}
                            </ul>
                            {{ kidsForm.gender.errors }}
                        </div>
                    </div>
                    <!-- end of gender -->


                    <div class="clearfix">
                        <label for="xlInput">Birthdate<span style="color:red"> *</span>:</label>

                        <div class="input">
                            {{ kidsForm.birthday }}
                            {{ kidsForm.birthday.errors }}
                        </div>
                    </div>

                <div class="actions">
                    <input type="submit" class="btn gold" value="Add">
                    <input type="button" class="btn primary" value="Done" onclick="redirect_to_parent_inbox()">
                </div>

                </fieldset>
            <input type="hidden" id='hidden_add_kids' name='hidden_add_kids' value="{% if hidden_add_kids %}{{ hidden_add_kids }}{% else %}False{% endif %}">
            </form>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function() {
        {% if kid %}
            $('#id_username').val('{{ kid.username }}');
            $('#id_password').val('{{ kid.password }}');
            $('#gender_{{ kid.gender }}').attr('checked','checked');
        {% endif %}
    });
    function redirect_to_parent_inbox(){
        window.location = "/parent/inbox/";
    }
</script>