{% load i18n %}
    <!-- Start change email -->
        <div id="change_email" class="right_inner" style="margin-left:20px;">
            <h2>Change your email address</h2>

            <form action="{% url manage_change_email %}" method="POST">
                {% csrf_token %}
                {% if change_email_success %}
                    <div class="alert-message success" id="alert-message">
                        <a class="close" href="#" onclick="close_tip()">×</a>
                        Email change successful.
                    </div>
                {% endif %}
                <fieldset>
                    {{ changeEmailForm.non_field_errors }}
                    <label for="xlInput">New Email Address:</label>

                    <div class="clearfix">
                        <div class="input">
                            {{ changeEmailForm.email }}
                            {{ changeEmailForm.email.errors }}
                        </div>
                    </div>

                    <div class="actions">
                        <input type="submit" class="btn gold" value="Confirm">
                    </div>

                </fieldset>
{#            <input type="hidden" id='hidden_email' name='hidden_email' value="{% if hidden_email %}{{ hidden_email }}{% else %}False{% endif %}">#}
            </form>
        </div>
    <!-- end change email -->