{% load i18n %}
    <!-- Start change password -->
    <div id="change_password" class="right_inner" style="margin-left:20px;">
        <h2>Change Password</h2>

        <form id="change_password_form" action="{% url manage_change_password %}" method="post">
            {% csrf_token %}
            {% if change_password_success %}
                <div class="alert-message success" id="alert-message">
                    <a class="close" href="#" onclick="close_tip()">×</a>
                    Password change successful.
                </div>
            {% endif %}
            <fieldset>
                {{ passwordresetForm.non_field_errors }}
                <label for="xlInput">Old Password: </label>

                <div class="clearfix">
                    <div class="input">
                        {{ passwordresetForm.oldpassword }}
                        {{ passwordresetForm.oldpassword.errors }}
                    </div>
                </div>


                <label for="xlInput">New Password: </label>

                <div class="clearfix">
                    <div class="input">
                        {{ passwordresetForm.password1 }}
                    </div>
                </div>

                <label for="xlInput">Confirm Password: </label>

                <div class="clearfix">
                    <div class="input">
                        {{ passwordresetForm.password2 }}
                        {{ passwordresetForm.password2.errors }}

                    </div>
                </div>

                <div class="actions">
                    <input type="submit" class="btn gold" value="Change">
                </div>
            </fieldset>
        <input type="hidden" id='hidden_password' name='hidden_password' value="{% if hidden_password %}{{ hidden_password }}{% else %}False{% endif %}">
        </form>
    </div>
    <!-- end change password -->