{% load i18n %}
<!-- Start update kids -->
    <div id='update_kids' class="right_inner" style="margin-left:20px;">
        <div class="span10">
            <h2>Update Children</h2>

            <form id="kid_form" action="" method="post">
                {% csrf_token %}
                {% if update_kid_success %}
                    <div class="alert-message success" id="alert-message">
                        <a class="close" href="#" onclick="close_tip()">×</a>
                        Update kid information successful.
                    </div>
                {% endif %}
                <fieldset>
                    {{ kidsEditForm.non_field_errors }}
                    <div class="clearfix" style="display: none">
                        <label for="xlInput">ID:</label>

                        <div class="input">
                            {{ kidsEditForm.u_kid_id }}
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="xlInput">Name:</label>

                        <div class="input">
                            {{ kidsEditForm.u_username }}
                            {{ kidsEditForm.u_username.errors }}
                        </div>
                    </div>

                    <div class="clearfix">
                        <label>Real Name:</label>

                        <div class="input">
                            {{ kidsEditForm.u_realname }}
                            {{ kidsEditForm.u_realname.errors }}
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="xlInput">Set New Password:</label>

                        <div class="input">
                            {{ kidsEditForm.u_password }}
                            {{ kidsEditForm.u_password.errors }}
                        </div>
                    </div>

                    <!-- start gender-->
                    <div class="clearfix">
                        <label id="optionsCheckboxes">Gender:</label>

                        <div class="input">
                            <ul class="inputs-list">
                                {{  kidsEditForm.u_gender }}
                            </ul>
                            {{ kidsEditForm.u_gender.errors }}
                        </div>
                    </div>
                    <!-- end of gender -->


                    <div class="clearfix">
                        <label for="xlInput">Birthdate:</label>

                        <div class="input">
                            {{ kidsEditForm.u_birthday }}
                            {{ kidsEditForm.u_birthday.errors }}
                        </div>
                    </div>

                <div class="actions">
                    <input type="submit" class="btn primary" value="Update">
                    <input type="button" class="btn primary" value="Done" onclick="redirect_to_parent_inbox()">
                </div>

                </fieldset>

            </form>
        </div>
    </div>
    <!-- end update kids -->
<script type="text/javascript">
    $(document).ready(function() {
        var kid = $('#id_u_kid_id').val();
        $('#kid_form').attr('action','/parent/settings/update-kids/'+kid+'/');
    });

    function redirect_to_parent_inbox(){
        window.location = "/parent/inbox/";
    }
</script>