{% load pagination_tags %}
{% load i18n %}
    <!-- Start manage kids -->
    <div id="manage_kids" class="right_inner" style="margin-left:20px;">
        <!-- Insert start -->
        {% if delete_kid_success %}
            <div class="alert-message success" id="alert-message">
                <a class="close" href="#" onclick="close_tip()">×</a>
                Delete kids successfully.
            </div>
        {% endif %}
        <div class="alert-message block-message info" id="div_delete_info" style="display: none">
            <a class="close" href="#">×</a>
            <p class="highlight">Are you sure you want to remove this child from play?</p>
            <div class="alert-actions" >
                <a id="a_delete" class="btn danger" onclick="deleteKid()">Delete</a>
                <a class="btn primary" onclick="hideDeleteInfo()" href="#">Cancel</a>
            </div>
        </div>
        <table class="zebra-striped">
            <thead class="green">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>BirthDay</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% autopaginate userProfile_list 5 %}
            {% for userProfile in userProfile_list %}
                <tr>
                    <td class="text_center">{{ userProfile.username }}</td>
                    <td class="text_center">{% if userProfile.gender == 0 %}
                        Boy
                    {% else %}
                        Girl
                    {% endif %}
                    </td>
                    <td class="text_center">{{ userProfile.birthdate }}</td>
                    <td class="text_center">
                        <u><span class="btn primary small" onclick="editKids('{{ userProfile.id }}')">Edit</span></u>
                        <u><span class="btn danger small" onclick="confirmDelete('{{ userProfile.id }}')">Delete</span></u>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    </div>
    <!-- end manage kids -->
<script type="text/javascript">

    var kid = '';
    function editKids(kid){
        window.location.href = "/parent/settings/update-kids/"+kid+"/";
    }
    function confirmDelete(k_id){
        kid = k_id;
        $('#div_delete_info').show()
    }
    function deleteKid(){
        window.location.href = "/parent/settings/manage-kids/"+kid+"/";
    }

    function hideDeleteInfo(){
        $('#div_delete_info').hide();
    }
</script>