{% extends "base.html" %}

{% block title %}Kinetic Academy | Forget password{% endblock %}
{% block content %}

    <section id="signup">
        <div class="row">
            <div>
                <h2>Forgot your passwords?</h2>
            </div>
            <div>Kinetic Academy will send password to the email address associated with the Kinetic Academy user name below. </div>
            <form action="{% url forgot_password %}" method="post">
                {% csrf_token %}
                {% if send_mail_success %}
                    <div class="alert-message success" id="alert-message">
                        <a class="close" href="#" onclick="close_tip()">×</a>
                            A new password have been send to your register email, please check your email to get the new password.
                     </div>
                {% endif %}

                <fieldset>
                    {{ forgotpasswordForm.non_field_errors }}
                    <label for="id_email_username">Kinetic Academy user name:</label>
                    <div class="clearfix">
                        <div class="input">
                            {{ forgotpasswordForm.username }}
                            {{ forgotpasswordForm.username.errors }}
                        </div>
                    </div>

                    <div class="actions">
                        <input type="submit" class="btn primary" id="btn-send-password" value="Send">
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- /row -->
    </section>
<script type="text/javascript">
    $(document).ready(function(){
       $('#id_username').val('');
        if($('div').hasClass('alert-message success') || $('div').hasClass('alert-message error')){
            setTimeout(function(){$('#alert-message').fadeOut('slow')}, 3000);
        }
    });
    function close_tip(){
        $('#alert-message').hide();
    }
    $('form').submit(function(){
        $('#btn-send-password').attr('disabled', 'disabled');
    });
</script>
{% endblock %}
