{% extends "base.html" %}

{% block title %}Welcome to Kinetic Academy{% endblock %}

{% block content %}

    <section id="signup">
        <div class="row">
            <ul class="media-grid">
                <li>
                    <a href="{% url index %}">
                        <img alt="" src="/static/images/step1.png"
                             class="thumbnail">
                    </a>
                </li>
                <li>
                    <a href="{% url index %}">
                        <img alt="" src="/static/images/step2.png"
                             class="thumbnail">
                    </a>
                </li>
                <li>
                    <a href="{% url index %}">
                        <img alt="" src="/static/images/step3.png"
                             class="thumbnail">
                    </a>
                </li>
            </ul>
            <input type="button" class="btn large primary" value="Get Started">
        </div>
        <!-- /row -->
    </section>

{% endblock %}