<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kinetic Academy from Digido</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/css/prettify.css" rel="stylesheet">

    <!-- Le javascript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/prettify.js"></script>
    <script>$(function () { prettyPrint() })</script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-twipsy.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <!--
    <script src="/static/js/application.js"></script>
    -->

  </head>
  <body>

  <!-- Masthead (blueprinty thing)
  ================================================== -->

   <a class="brand" href="http://kineticacademy.com">Kinetic Academy</a>
   <a id="log-in-top" class="btn gold large" href="#">Log in!</a>
   <a id="sign-up-top" class="btn gold large" href="#">Sign up!</a>
  
  <header class="jumbotron masthead" id="overview">   
    <div class="inner">
      <div class="container">
        <a id="sign-up" class="btn gold" style="margin: 240px 0 40px 0;" href="#">Sign up!</a>
      	<img class="landing-hero-left" src="../static/images/hero-landing-left.png">       
        <img class="landing-hero-right" src="../static/images/hero-landing-right.png"> 
        <h1>Unleash your inner superhero</h1>        
      </div><!-- /container -->
    </div>
  </header>

<div class="container">    
    
    <section id="signup">
            <form action="{% url signup %}" method="post">
                {% csrf_token %}
                <fieldset>
                    {{ formSignup.non_field_errors }}

                    <label for="id_email">Email</label>
                    <div class="clearfix">
                      <div class="input">
                          {{ formSignup.email }}
                          {{ formSignup.email.errors }}
                      </div>
                    </div>

                    <label for="id_password1">Password</label>
                    <div class="clearfix">
                        <div class="input">
                            {{ formSignup.password1 }}
                            {{ formSignup.password1.errors }}
                        </div>
                    </div>

                    <label for="id_password2">Confirm Password</label>
                    <div class="clearfix">
                        <div class="input">
                            {{ formSignup.password2 }}
                            {{ formSignup.password2.errors }}
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="input">
                            {{ formSignup.tos }}
                            I have read and agree to the <a href="#">Terms of Service</a>
                            {{ formSignup.tos.errors }}
                        </div>
                    </div>
                  <div class="actions">
                    <input type="submit" class="btn gold large" value="Join now!">
                  </div>
                </fieldset>
            </form>
    </section>

	<section id="login">
	
			
			
            <form id="login-form" action="{% url login %}" method="post">
                {% csrf_token %}
                {% if errors %}
                    <div class="alert-message error">
                        <a class="close" href="#">×</a>
                        {{ errors }}
                    </div>
                {% endif %}

                <fieldset>
                    {{ formLogin.non_field_errors }}
                    <label for="id_email_username">Email or Username</label>
                    <div class="clearfix">
                        <div class="input">
                            {{ formLogin.email_or_username }}
                            {{ formLogin.email_or_username.errors }}
                        </div>
                    </div>

                    <label for="id_password">Password</label>
                    <div class="clearfix">
                        <div class="input">
                            {{ formLogin.password }}
                            {{ formLogin.password.errors }}
                        </div>
                    </div>

                    <div class="actions">
                        <input type="submit" id="login-submit" class="btn gold large" value="Login"></br></br>
                        <!--
                        <a href="https://www.facebook.com/dialog/oauth?client_id=305527652790676&redirect_uri=http://wng.smume.com/facebook/authentication_callback/&scope=email">
                        -->
                        <a href="{{ fb_url }}">
                            <img src="/static/images/fbconnect.png">
                        </a>
                        </br></br>
                        <a href="{% url forgot_password %}">Forgot Password?</a>
                    </div>
                </fieldset>
            </form>
    </section>
    
    <section>
    
    	<div class="row">
    		<div class="span16" style="text-align:center;">
    			<h1>How it works</h1>
    			<p>Unleash your inner superhero, save the world through real world physical activity and earn rewards along the way.</p>
    		</div>
    	</div>
    
    	<div class="row" style="text-align:center;margin-top:30px;">
    		<div class="span-one-third">
    			<img src="../static/images/landing-step-1.png">
    			<h2>Your child exercises...</h2>
    			<img src="../static/images/landing-soccer-character.png">    			
    		</div>

    		<div class="span-one-third">    			
    			<img src="../static/images/landing-step-2.png">
    			<h2>Tracks the activity...</h2>
    			<img src="../static/images/landing-computer-character.png">  
    		</div>
    		
    		<div class="span-one-third">
    			<img src="../static/images/landing-step-3.png">
    			<h2>And earns badges &amp; rewards!</h2>   
    			<img src="../static/images/landing-reward-character.png">   			
    		</div>
    	
    	</div>    
    </section>     
    
</div><!-- /container -->

<div class="footer">
	<a href="http://digidointeractive.com/" target="_blank">&copy; 2011 Digido Interactive</a>
</div>  
    
<script type="text/javascript">

$(document).ready(function(){
    currentpath = window.location.pathname;

    // Don't show jumbotron if it's for the signup or login forms.
    if(currentpath == '/signup/') {
        showSignUp(false);
    }
    else if(currentpath == '/login/') {
        showLogin(false);
    } else {
        $(".jumbotron .inner .container").show()
    }

	$("#log-in-top").click(function(){
        showLogin(true);
	});			
	$("#sign-up-top").click(function(){
        showSignUp(true);
	});
	$("#sign-up").click(function(){
        showSignUp(true);
	});

});

function hideJumbotron() {
    if ($(".jumbotron .inner .container").is(":hidden")){
        $('a.brand').animate({top: '+=0'}, 0);
    }
    else{
        $('a.brand').animate({top: '+=20'}, 500);
    }
    $(".jumbotron .inner .container").fadeOut(500);
}

function showLogin(doFade) {
    hideJumbotron();
    if(doFade){
        $("section#login").fadeIn(500);
        $("section#signup").fadeOut(500);
        $("#log-in-top").fadeOut(0);
        $("#sign-up-top").fadeIn(0);
    } else {
        $("section#login").show();
        $("section#signup").hide();
        $("#log-in-top").hide();
        $("#sign-up-top").show();
    }
}

function showSignUp(doFade) {
    hideJumbotron();
    if(doFade){
        $("section#login").fadeOut(500);
        $("section#signup").fadeIn(500);
        $("#log-in-top").fadeIn(0);
        $("#sign-up-top").fadeOut(0);
    } else {
        $("section#login").hide();
        $("section#signup").show();
        $("#log-in-top").show();
        $("#sign-up-top").hide();
    }
}

</script>

</body>
</html>
