{% extends "base.html" %}

{% block title %}吴江-招聘网 | wj-zpw.com{% endblock %}

{% block content %}
<!-- 主体信息开始 -->
<div class="container">
    <div class="content">
        <div class="row">
            <div class="left_layer">
                <p class="title">教育经历--最高学历</p>
                <p>1、请填写自己最高学历的教育经历，这是用人单位普遍关心的。</p>
                <p>2、学校名称请填写全称。另外，我们提供的输入联想列表涵盖了全国主要高校，可以直接选取。</p>
                <p>3、专业的选择请尽量选择相似相近的。对于无法选择的，请在输入框中自行填写。</p>
                <p class="title" style="margin-top:50px;">工作经历</p>
                <p>1、请填写自己的详细工作情况，如果有多项经历，您可以点击继续添加按钮进行添加。</p>
                <p>2、公司名称请填写全称，方便用人单位了解。</p>
                <p>3、工作描述和主要业绩，是含金量比较高的一块内容，请填写详细，这有利于招聘单位对你的正面认识。</p>
                <p class="title" style="margin-top:50px;">附加信息</p>
                <p>1、上传个人照片可能对你的求职起到意想不到的帮助。</p>
            </div>
            <div class="right_layer">
                <div class="register_head">
                    <img src="../../static/images/wizard_1_b.gif"/>
                    <img src="../../static/images/wizard_2_r.gif"/>
                    <img src="../../static/images/wizard_3_b.gif"/>
                </div>
                <form method="POST" action="{% url resume_detail %}" id="resume_form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <!-- 教育经历 -->
                <div class="main_login">
                    <div class="tit">
                        教育经历--最高学历
                    </div>
                    <div>
                        <fieldset>
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>时　间：</label>
                                <div class="input">
                                    <div class="inline-inputs">
                                        <input type="text" value="" class="small">
                                        <input type="text" value="" class="mini">
                                        到
                                        <input type="text" value="" class="small">
                                        <input name="s" type="text" value="" class="mini">
                                        <span class="help-block" style="display:block">注：后两项不填表示至今.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>学　校：</label>
                                <div class="input">
                                    <input type="text" size="30" name="xlInput" id="xlInput" class="middle">
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>专　业：</label>
                                <div class="input">
                                    <input type="text" size="30" name="xlInput" id="xlInput" class="middle">
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>专业类别：</label>
                                <div class="input">
                                    <select id="mediumSelect" name="mediumSelect" class="medium">
                                        <option value="0">计算机类</option>
                                        <option value="1">管理类</option>
                                        <option value="2">行政管理</option>
                                        <option value="3">财务</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>学　历：</label>
                                <div class="input">
                                    <select id="mediumSelect" name="mediumSelect" class="medium">
                                        <option value="">请选择</option>
                                        <option value="1">初中</option>
                                        <option value="2">高中</option>
                                        <option value="3">中技</option>
                                        <option value="4">中专</option>
                                        <option value="5">大专</option
                                        ><option value="6">本科</option>
                                        <option value="-1">MBA</option>
                                        <option value="7">硕士</option>
                                        <option value="8">博士</option>
                                        <option value="9">其他</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput">专业描述：</label>
                                <div class="input">
                                    <textarea rows="3" name="textarea2" id="textarea2" class="xxlarge"></textarea>
                                    <span class="help-block">填写您所学专业包括什么课程，您的毕业设计等等</span>
                                    <span class="help-block">限2000个中文字，已输入<span style="color:red">0</span>个字</span>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label id="optionsRadio" style="padding-top:8px;"><span class="required_star">*</span>海外经历：</label>
                                <div class="input">
                                    <ul class="inputs-list">
                                        <li>
                                            <label>
                                                <input type="radio" value="option1" name="optionsRadios" checked="">
                                                <span>是</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="radio" value="option2" name="optionsRadios">
                                                <span>否</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /clearfix -->
                        </fieldset>
                    </div>
                </div>

                <!-- 工作经历 -->
                <div class="main_login">
                    <div class="tit">
                        工作经历
                    </div>
                    <!-- 工作经历 -->
                    <div class="work_experience">
                        <fieldset>
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>时　间：</label>
                                <div class="input">
                                    <div class="inline-inputs">
                                        <input type="text" value="" class="small">
                                        <input type="text" value="" class="mini">
                                        到
                                        <input type="text" value="" class="small">
                                        <input name="s" type="text" value="" class="mini">
                                        <span class="help-block" style="display:block">注：后两项不填表示至今.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>公　司：</label>
                                <div class="sinput">
                                    <input type="text" size="30" name="xlInput" id="xlInput" style="width:130px;">
                                </div>
                                <label class="slabel" for="xlInput"><span class="required_star">*</span>行业类别：</label>
                                <div class="sinput">
                                    <select id="trade" size="1" name="trade" style="width:200px;">
                                        <option value="">请选择行业</option>
                                        <option value="1000">计算机软件</option>
                                        <option value="1001">计算机硬件</option>
                                        <option value="1002">计算机服务(系统、数据服务，维修)</option>
                                        <option value="1003">通信/电信/网络设备</option>
                                        <option value="1004">通信/电信运营、增值服务</option>
                                        <option value="1005">互联网/电子商务</option>
                                        <option value="1006">网络游戏</option>
                                        <option value="1007">电子技术/半导体/集成电路</option>
                                        <option value="1008">仪器仪表/工业自动化</option>
                                        <option value="1009">会计/审计</option>
                                        <option value="1010">金融/投资/证券</option>
                                        <option value="1011">银行</option>
                                        <option value="1012">保险</option>
                                        <option value="1013">贸易/进出口</option>
                                        <option value="1014">批发/零售</option>
                                        <option value="1015">快速消费品(食品,饮料,化妆品)</option>
                                        <option value="1016">服装/纺织/皮革</option>
                                        <option value="1017">家具/家电/工艺品/玩具/珠宝</option>
                                        <option value="1018">办公用品及设备</option>
                                        <option value="1019">机械/设备/重工</option>
                                        <option value="1020">汽车及零配件</option>
                                        <option value="1021">制药/生物工程</option>
                                        <option value="1022">医疗/护理/保健/卫生</option>
                                        <option value="1023">医疗设备/器械</option>
                                        <option value="1024">广告</option>
                                        <option value="1025">公关/市场推广/会展</option>
                                        <option value="1026">影视/媒体/艺术</option>
                                        <option value="1027">文字媒体/出版</option>
                                        <option value="1028">房地产开发</option>
                                        <option value="1029">建筑与工程</option>
                                        <option value="1030">家居/室内设计/装潢</option>
                                        <option value="1031">物业管理/商业中心</option>
                                        <option value="1032">中介服务</option>
                                        <option value="1033">专业服务(咨询，人力资源)</option>
                                        <option value="1034">外包服务</option>
                                        <option value="1035">检测，认证</option>
                                        <option value="1036">法律</option>
                                        <option value="1037">教育/培训</option>
                                        <option value="1038">学术/科研</option>
                                        <option value="1039">餐饮业</option>
                                        <option value="1040">酒店/旅游</option>
                                        <option value="1041">娱乐/休闲/体育</option>
                                        <option value="1042">美容/保健</option>
                                        <option value="1043">生活服务</option>
                                        <option value="1044">交通/运输/物流</option>
                                        <option value="1045">航天/航空</option>
                                        <option value="1046">石油/化工/矿产/地质</option>
                                        <option value="1047">采掘业/冶炼</option>
                                        <option value="1048">电力/水利</option>
                                        <option value="1049">原材料和加工</option>
                                        <option value="1050">政府</option>
                                        <option value="1051">非盈利机构</option>
                                        <option value="1052">环保</option>
                                        <option value="1053">农业/渔业/林业</option>
                                        <option value="1054">多元化业务集团公司</option>
                                        <option value="1055">其他行业</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput">公司规模：</label>
                                <div class="sinput">
                                    <select id="companysize" name="companysize" style="width:130px;">
                                        <option value="0">---请选择---</option>
                                        <option value="1">少于50人</option>
                                        <option value="2">50-150人</option>
                                        <option value="3">150-500人</option>
                                        <option value="4">500人以上</option>
                                    </select>
                                </div>
                                <label class="slabel" for="xlInput" style="margin-left:15px;"><span class="required_star">*</span>公司性质：</label>
                                <div class="sinput">
                                    <select id="CompanyType" name="CompanyType" style="width: 125px;">
                                        <option value="">---请选择---</option>
                                        <option value="01">外资(欧美)</option>
                                        <option value="02">外资(非欧美)</option>
                                        <option value="03">合资(欧美)</option>
                                        <option value="04">合资(非欧美)</option>
                                        <option value="05">国企</option>
                                        <option value="06">民营公司</option>
                                        <option value="07">外企代表处</option>
                                        <option value="09">政府机关</option>
                                        <option value="10">事业单位</option>
                                        <option value="11">非盈利机构</option>
                                        <option value="08">其它性质</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>部　门：</label>
                                <div class="sinput">
                                    <input type="text" size="30" name="xlInput" id="xlInput" style="width:130px;">
                                </div>
                                <label class="slabel" for="xlInput"><span class="required_star">*</span>职　位：</label>
                                <div class="sinput">
                                    <input type="text" size="30" name="xlInput" id="xlInput" class="small">
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>工作描述：</label>
                                <div class="input">
                                    <textarea rows="3" name="textarea2" id="textarea2" class="xxlarge"></textarea>
                                    <span class="help-block">请详细描述您的职责范围、工作任务以及取得的成绩等</span>
                                    <span class="help-block">限2000个中文字，已输入<span style="color:red">0</span>个字</span>
                                </div>
                            </div>
                            <!-- /clearfix -->
                        </fieldset>
                    </div>
                    <!-- 工作经历 -->
                    <!-- 工作经历 -->
                    <div class="work_experience">
                        <fieldset>
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>时　间：</label>
                                <div class="input">
                                    <div class="inline-inputs">
                                        <input type="text" value="" class="small">
                                        <input type="text" value="" class="mini">
                                        到
                                        <input type="text" value="" class="small">
                                        <input name="s" type="text" value="" class="mini">
                                        <span class="help-block" style="display:block">注：后两项不填表示至今.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>公　司：</label>
                                <div class="sinput">
                                    <input type="text" size="30" name="xlInput" id="xlInput" style="width:130px;">
                                </div>
                                <label class="slabel" for="xlInput"><span class="required_star">*</span>行业类别：</label>
                                <div class="sinput">
                                    <select id="trade" size="1" name="trade" style="width:200px;">
                                        <option value="">请选择行业</option>
                                        <option value="1000">计算机软件</option>
                                        <option value="1001">计算机硬件</option>
                                        <option value="1002">计算机服务(系统、数据服务，维修)</option>
                                        <option value="1003">通信/电信/网络设备</option>
                                        <option value="1004">通信/电信运营、增值服务</option>
                                        <option value="1005">互联网/电子商务</option>
                                        <option value="1006">网络游戏</option>
                                        <option value="1007">电子技术/半导体/集成电路</option>
                                        <option value="1008">仪器仪表/工业自动化</option>
                                        <option value="1009">会计/审计</option>
                                        <option value="1010">金融/投资/证券</option>
                                        <option value="1011">银行</option>
                                        <option value="1012">保险</option>
                                        <option value="1013">贸易/进出口</option>
                                        <option value="1014">批发/零售</option>
                                        <option value="1015">快速消费品(食品,饮料,化妆品)</option>
                                        <option value="1016">服装/纺织/皮革</option>
                                        <option value="1017">家具/家电/工艺品/玩具/珠宝</option>
                                        <option value="1018">办公用品及设备</option>
                                        <option value="1019">机械/设备/重工</option>
                                        <option value="1020">汽车及零配件</option>
                                        <option value="1021">制药/生物工程</option>
                                        <option value="1022">医疗/护理/保健/卫生</option>
                                        <option value="1023">医疗设备/器械</option>
                                        <option value="1024">广告</option>
                                        <option value="1025">公关/市场推广/会展</option>
                                        <option value="1026">影视/媒体/艺术</option>
                                        <option value="1027">文字媒体/出版</option>
                                        <option value="1028">房地产开发</option>
                                        <option value="1029">建筑与工程</option>
                                        <option value="1030">家居/室内设计/装潢</option>
                                        <option value="1031">物业管理/商业中心</option>
                                        <option value="1032">中介服务</option>
                                        <option value="1033">专业服务(咨询，人力资源)</option>
                                        <option value="1034">外包服务</option>
                                        <option value="1035">检测，认证</option>
                                        <option value="1036">法律</option>
                                        <option value="1037">教育/培训</option>
                                        <option value="1038">学术/科研</option>
                                        <option value="1039">餐饮业</option>
                                        <option value="1040">酒店/旅游</option>
                                        <option value="1041">娱乐/休闲/体育</option>
                                        <option value="1042">美容/保健</option>
                                        <option value="1043">生活服务</option>
                                        <option value="1044">交通/运输/物流</option>
                                        <option value="1045">航天/航空</option>
                                        <option value="1046">石油/化工/矿产/地质</option>
                                        <option value="1047">采掘业/冶炼</option>
                                        <option value="1048">电力/水利</option>
                                        <option value="1049">原材料和加工</option>
                                        <option value="1050">政府</option>
                                        <option value="1051">非盈利机构</option>
                                        <option value="1052">环保</option>
                                        <option value="1053">农业/渔业/林业</option>
                                        <option value="1054">多元化业务集团公司</option>
                                        <option value="1055">其他行业</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput">公司规模：</label>
                                <div class="sinput">
                                    <select id="companysize" name="companysize" style="width:130px;">
                                        <option value="0">---请选择---</option>
                                        <option value="1">少于50人</option>
                                        <option value="2">50-150人</option>
                                        <option value="3">150-500人</option>
                                        <option value="4">500人以上</option>
                                    </select>
                                </div>
                                <label class="slabel" for="xlInput" style="margin-left:15px;"><span class="required_star">*</span>公司性质：</label>
                                <div class="sinput">
                                    <select id="CompanyType" name="CompanyType" style="width: 125px;">
                                        <option value="">---请选择---</option>
                                        <option value="01">外资(欧美)</option>
                                        <option value="02">外资(非欧美)</option>
                                        <option value="03">合资(欧美)</option>
                                        <option value="04">合资(非欧美)</option>
                                        <option value="05">国企</option>
                                        <option value="06">民营公司</option>
                                        <option value="07">外企代表处</option>
                                        <option value="09">政府机关</option>
                                        <option value="10">事业单位</option>
                                        <option value="11">非盈利机构</option>
                                        <option value="08">其它性质</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>部　门：</label>
                                <div class="sinput">
                                    <input type="text" size="30" name="xlInput" id="xlInput" style="width:130px;">
                                </div>
                                <label class="slabel" for="xlInput"><span class="required_star">*</span>职　位：</label>
                                <div class="sinput">
                                    <input type="text" size="30" name="xlInput" id="xlInput" class="small">
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>工作描述：</label>
                                <div class="input">
                                    <textarea rows="3" name="textarea2" id="textarea2" class="xxlarge"></textarea>
                                    <span class="help-block">请详细描述您的职责范围、工作任务以及取得的成绩等</span>
                                    <span class="help-block">限2000个中文字，已输入<span style="color:red">0</span>个字</span>
                                </div>
                            </div>
                            <!-- /clearfix -->
                        </fieldset>
                    </div>
                    <!-- 工作经历 -->
                    <div style="padding-top:10px;">
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"></label>
                            <div class="input">
                                <a id="addNewWork" href="#" onClick="return false;" class="btn success">继续添加</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 求职意向 -->
                <div class="main_login">
                    <div class="tit">
                        求职意向
                    </div>
                    <div>
                        <fieldset>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>工作性质：</label>
                                <div class="input">
                                    {{ resume_form.job_type }}
                                    {{ resume_form.job_type.errors }}
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>期望行业：</label>
                                <div class="input">
                                    {{ resume_form.industry }}
                                    {{ resume_form.industry.errors }}
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>期望职位：</label>
                                <div class="input">
                                    {{ resume_form.positions }}
                                    {{ resume_form.positions.errors }}
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>工作地区：</label>
                                <div class="input">
                                    {{ resume_form.location }}
                                    {{ resume_form.location.errors }}
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>是否提供住房：</label>
                                <div class="input">
                                    {{ resume_form.is_supply_house }}
                                    {{ resume_form.is_supply_house.errors }}
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>待遇要求：</label>
                                <div class="input">
                                    {{ resume_form.salary }}
                                    元/月
                                    {{ resume_form.salary.errors }}
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>到岗时间：</label>
                                <div class="input">
                                    {{ resume_form.attendance_time }}
                                    {{ resume_form.attendance_time.errors }}
                                </div>
                            </div>
                            <!-- /clearfix -->
                        </fieldset>
                    </div>
                </div>
                <!-- 附加信息 -->
                <div class="main_login">
                    <div class="tit">
                        附加信息
                    </div>
                    <div>
                        <fieldset>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="fileInput" style="margin-top:2px;">上传照片：</label>
                                <div class="input">
                                    {{ resume_form.avatar }}
                                    <span class="help-block" style="margin-top:3px;">
                                        <div class="main_newspic" style="width:135px; height:160px; margin:0px;">
                                            <img src="../../static/images/Person.gif" alt="" class="thumbnail" style="width:135px; height:160px;">
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <!-- /clearfix -->
                            <div class="clearfix">
                                <label for="xlInput"><span class="required_star">*</span>自我评价：</label>
                                <div class="input">
                                    {{ resume_form.self_desc }}
                                    <span class="help-block">限2000个中文字，已输入<span style="color:red">0</span>个字</span>
                                    {{ resume_form.self_desc.errors }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="main_login" style="border:none; -moz-box-shadow:none">
                    <div class="actions">
                        <button class="btn primary" style="padding: 3px 14px;" type="submit">完成</button>
                        &nbsp;<a class="btn success" href="resume.html" target="_blank">预览</a>&nbsp;<a class="btn" href="../index.html">取消</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function() {
        right_height = $('.right_layer').height();
        left_height = $('.left_layer').height();
        if(right_height > left_height) {
            $('.left_layer').height(right_height );
        }
    })

    $('#addNewWork').click(function() {
        alert('a');
    });
</script>
<!-- 主体信息结束 -->
{% endblock %}