{% extends "base_kid.html" %}

{% block title %}Kinetic Academy | Kids stats{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/static/css/parent.css">
    <link rel="stylesheet" href="/static/css/metaverse.css">
    <script src="/static/js/prettify.js"></script>
    <script src="/static/js/bootstrap-twipsy.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>

     <div class="page-header">
        <h1 style="float: left;width: 50%">Achievements</h1>        
        <span style="clear:right;">        	
		    <h2 class="score" style="float: right;">            
		        {% if points %}
		            {{ points }}
		        {% else %}
		            0
		        {% endif %}
		    </h2>
		    <img style="width: 56px;float:right;" src="../../static/images/point_reward_star.png">        
        </span>   
    </div>

    <div class="content">
        <div class="row" style="margin: 0px">
            <div class="right_inner">
                <ul>
                    {% for badge in badges %}
                        {% if badge.id in badge_ids %}
                            <li>
                                <div class="badge_area" rel="popover" data-content="{{ badge.description }}" data-original-title="Description">
                                    <img src="/{{ badge.image_path }}">

                                    <h4>{{ badge.name }}</h4>
                                </div>
                            </li>
                        {% else %}
                            <li>
                                {% for key,value in badge_tips.items %}
                                    {% if key == badge.id %}
                                        <div class="badge_area" rel="popover" data-content="{{ value }}" data-original-title="Description">
                                    {% endif %}
                                {% endfor %}
                                    <img src="/static/upload/images/badge_blank.png">

                                    <h4>{{ badge.name }}</h4>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function() {

            $('.badge_area').mouseover(function() {
                $(this).css("background-color", "#b1db62");
            });

            $('.badge_area').mouseout(function() {
                $(this).css("background-color", "");
            });
            
            $('#li_activate').attr('class', '');
            $('#li_Stats').attr('class', '');
            $('#li_badges').attr('class', 'active');
            $('#li_rewards').attr('class', '');

        });

        $(function () {
            $("div[rel=popover]")
                    .popover({
                        offset: 10,
                        placement: 'above'
                    })
                    .click(function(e) {
                        e.preventDefault()
                    })
        });

    </script>
{% endblock %}
