{% extends "base_kid.html" %}

{% block title %}Kinetic Academy | Kids stats{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/static/css/parent.css">
    <script type='text/javascript' src='/static/js/jquery-1.5.2.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery-ui-1.8.11.custom.min.js'></script>


    <div class="page-header">
        <h1 style="float: left;width: 50%">Add activity</h1>        
        <span style="clear:right;">        	
		    <h2 class="score" style="float: right;">
		    <span></span>            
		        {% if points %}
		            {{ points }}
		        {% else %}
		            0
		        {% endif %}
		    </h2>
		    <img style="width: 56px; float:right;" src="../../static/images/point_reward_star.png">        
        </span>   
    </div>

    <div class="content">
        <div class="row">
            
            <div class="activity-list">
                <form action="{% url add_activity %}" method="post" id="add_activity_form">
                    {% csrf_token %}
                    <div id='alert-message-activity'>
                    </div>

                    <div class="clearfix">
						
                    	<div class="row" style="margin:0;">
                           
	                        <div class="span11">
	                        	
	                        	<div id="activity-form">
	                                <h5 class="step1">What did you do?</h5>
	                                <h6>Drag your activity to the score card!</h6>	                                	                                
	                                
	                                <input type="hidden" id='activity-selector' name="activity-selector">
	                                
	                                <div id="activities" style="margin-left: 0px;" class="clearfix">
	                                    {% if activities %}
	                                        {% for activity in activities %}
	                                            <div ref_id="{{ activity.id }}">
	                                                <img src="/{{ activity.image_path }}" alt="{{ activity.name }}">
	                                                <p>{{ activity.name }}</p>
	                                            </div>
	                                        {% endfor %}
	                                    {% endif %}
	                                </div>
	                            </div>
	                             
	                            <div id="time-form">                              
	                                <h5 class="step2">For how long?</h5>
	                                
	                                <input type="hidden" id='time-selector' name="time-selector">								

	                                <div id="times" style="margin-left: 0px;" class="clearfix">
		                            	<div id="10" ref_id="10">
	                                    	<img src="../../static/images/icons/10min.png" alt="10 minutes">
	                                        <p>10 Minutes</p>
	                                    </div>
	                                	<div id="15" ref_id="15">
	                                    	<img src="../../static/images/icons/15min.png" alt="15 minutes">
	                                        <p>15 Minutes</p>
	                                    </div>
	                                	<div id="30" ref_id="30">
	                                    	<img src="../../static/images/icons/30min.png" alt="30 minutes">
	                                        <p>30 Minutes</p>
	                                    </div>	 
	                                	<div id="45" ref_id="45">
	                                    	<img src="../../static/images/icons/45min.png" alt="45 minutes">
	                                        <p>45 Minutes</p>
	                                    </div>                       
	                                	<div id="60" ref_id="60">
	                                    	<img src="../../static/images/icons/1hour.png" alt="1 hour">
	                                        <p>1 hour</p>
	                                    </div>
	                                	<div id="90" ref_id="90">
	                                    	<img src="../../static/images/icons/90min.png" alt="90 minutes">
	                                        <p>90 minutes</p>
	                                    </div>
	                                	<div id="120" ref_id="120">
	                                    	<img src="../../static/images/icons/2hours.png" alt="2 hours">
	                                        <p>2 hours</p>
	                                    </div>
	                                </div>
                                
	                            </div>   
	                             
	                            <div id="date-form">
	                                <h5 class="step3">When?</h5>                                

	                                <input type="hidden" id='date-selector' name="date-selector">								

	                                <div id="dates" style="margin-left: 0px;" class="clearfix">
	                                	<div id="0" ref_id="0">
	                                    	<img src="../../static/images/icons/today.png">
	                                        <p>Today</p>
	                                    </div>
	                                	<div id="1" ref_id="1">
	                                    	<img src="../../static/images/icons/1day.png">
	                                        <p>Yesterday</p>
	                                    </div>	                        
	                                	<div id="2" ref_id="2">
	                                    	<img src="../../static/images/icons/2days.png">
	                                        <p>2 days ago</p>
	                                    </div>
	                                	<div id="3" ref_id="3">
	                                    	<img src="../../static/images/icons/3days.png">
	                                        <p>3 days ago</p>
	                                    </div>
	                                </div>
                            
	                            </div>
	                            
	                           <div id="success"> 
	                           		<h5 class="step4">Add your activity!</h5> 
	                            	<input type="button" class="btn gold huge" value="Ok!" onclick="addActivity()">
	                           </div> 
	                        </div>
	                            
	                        <div class="span4">
	                            <div id="score-card">
	                            	<h5>Score card <a href="#" id="reset" class="btn small danger">Reset</a></h5>	                            	
	                            	<div id="drop-activity" class="drop-box"></div>
	                            	<div id="drop-time" class="drop-box"></div>
	                            	<div id="drop-date" class="drop-box"></div>
	                            		                         	
	                         	</div>
	                        </div>
                            
                        </div>                                
                    </div>                        
                </form>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function() {
            $('#li_activate').attr('class', 'active');
            $('#li_Stats').attr('class', '');
            $('#li_badges').attr('class', '');
            $('#li_rewards').attr('class', '');            
        });

		// Drag & drop 
		
		$(function() {
		
			$('#reset').click(function() {
  				location.reload();
			});
		
			$('#success').hide();	
			$('#time-form').hide();
			$('#date-form').hide();

    		$("#activities div").draggable( {
      			stack: '#activities div', cursor: 'move', revert: true,
    		});	
    		
    		$("#drop-activity").droppable( {
      			accept: "#activities div", hoverClass: "hovered", activeClass: "highlight",
				drop: function( event, ui ) {
					activityDrop( ui.draggable );
				}
    		});	

    		$("#times div").draggable( {
      			stack: '#activities div', cursor: 'move', revert: true,
    		});	
    		
    		$("#drop-time").droppable( {
      			accept: "#times div", hoverClass: "hovered", activeClass: "highlight",
				drop: function( event, ui ) {
					timeDrop( ui.draggable );
				}
    		});	
    		
    		$("#dates div").draggable( {
      			stack: '#dates div', cursor: 'move', revert: true,
    		});	
    		
    		$("#drop-date").droppable( {
      			accept: "#dates div", hoverClass: "hovered", activeClass: "highlight",
				drop: function( event, ui ) {
					dateDrop( ui.draggable );
				}
    		});	

		});

		function activityDrop( $item ) {
			$item.fadeOut(function() {
				$("#activity-selector").val($($item).attr("ref_id"));
				$( $item ).appendTo( "#drop-activity" ).draggable({ disabled: true });
				$item.fadeIn(function() {
					$item.find( "img" ).animate({ height: "60px" });
				});
				$("#activity-form").fadeOut('slow', function() {
    				$("#time-form").fadeIn("slow");
  				});				
			});
		}
		
		function timeDrop( $item ) {
			$item.fadeOut(function() {
				$("#time-selector").val($($item).attr("ref_id"));
				$( $item ).appendTo( "#drop-time" ).draggable({ disabled: true });
				$item.fadeIn(function() {
					$item.find( "img" ).animate({ height: "60px" });
				});
				$("#time-form").fadeOut('slow', function() {
    				$("#date-form").fadeIn("slow");
  				});				
			});
		}		

		function dateDrop( $item ) {
			$item.fadeOut(function() {
				$("#date-selector").val($($item).attr("ref_id"));
				$( $item ).appendTo( "#drop-date" ).draggable({ disabled: true });
				$item.fadeIn(function() {
					$item.find( "img" ).animate({ height: "60px" });
				});
				$("#date-form").fadeOut('slow', function() {
    				$("#success").fadeIn("slow");
  				});				
			});
		}

        function addActivity() {
            var activity = $('#activity-selector').val();
            var time = $('#time-selector').val();
            var date = $('#date-selector').val();

            if (activity == null || activity == '' || time == null || time == '' || date == null || date == '') {
                $('#alert-message-activity').attr('class', 'alert-message error');
                $('#alert-message-activity').html("Whoops! There's something missing here...");
                return;
            }

            $.ajax({
                type:"POST",
                async:false,
                url:"{% url add_activity %}",
                data:$("#add_activity_form").serialize(),
                success: function(data) {
                    if (data == 'True') {
                        $('#alert-message-activity').attr('class', 'alert-message success');
                        $('#alert-message-activity').html('Activity sent to your parents for approval. Yay! You can add another one.');
                        location.reload();
                    }
                    else {
                        $('#alert-message-container').attr('class', 'alert-message error');
                        $('#alert-message-container').html("Whoops! There's something missing here...");
                    }
                }
            });

        }
    </script>
{% endblock %}

