{% extends "base_kid.html" %}
{% load pagination_tags %}
{% block title %}Kinetic Academy | Kids rewards{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/static/css/parent.css">
    <script src="/static/js/prettify.js"></script>
    <script src="/static/js/bootstrap-twipsy.js"></script>
    <style type="text/css">
        .row_border ul {
            list-style: none outside none;
            display: block;
        }

        .row_border li {
            display: block;
            float: left;
            padding: 5px;
            line-height: 10px;
        }

        .badge_area {
            width: 120px;
            height: 180px;
            float: left;
        }

         .badge_area img {
            margin-left: 10px;
            width: 80px;
            height: 80px;
            border-radius: 15px 15px 15px 15px;
        }

        .badge_area p {
            text-align: center;
            font-size: 80%;
            /*display: none;*/
        }

        .pagination {
            text-align: right;
        }
    </style>

    <div class="page-header">
        <h1 style="float: left;width: 50%">Rewards</h1>        
        <span style="clear:right;">        	
		    <h2 class="score" style="float: right;">            
		        {% if points > 0 %}
		            {{ points }}
		        {% else %}
		            0
		        {% endif %}
		    </h2>
		    <img style="width: 56px;float:right;" src="../../static/images/point_reward_star.png">        
        </span> 
    </div>

    <div class="content">
        <div class="row">
            <div class="span4" id="new_rewards"><h5>New Rewards</h5></div>

            <div class="span11">
                <form action="{% url kid_redeem_reward %}" method="post">
                    {% csrf_token %}
                    {% if is_success %}
                        <div class="alert-message success" id="alert-message">
                            <a class="close" href="#" onclick="close_tip()">×</a>
                            You claimed a reward! A reminder has been sent to your parent. Good work!
                        </div>
                    {% endif %}
                    <div class="alert-message block-message info" id="div_redeem_info" style="display: none">
                        <a class="close" href="#">×</a>
                        <p class="highlight">Are you sure that you want to claim this reward?</p>
                        <div class="alert-actions">
                            <a id="a_approve" class="btn gold" href="#" onclick="doSubmit()">Claim</a> <a class="btn danger" onclick="hideRedeemInfo()" href="#">Cancel</a>
                        </div>
                    </div>
                    
                    {% if rewards %}
                    <table id='redeem_table' class="zebra-striped">
                        <thead class="green">
                            <tr>
                                <th>Reward</th>
                                <th>Points</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                {% for reward in rewards  %}
                                    <tr>
                                        <td>{{ reward.name }}</td>
                                        <td>{{ reward.points_required }}</td>

                                        {% if points > reward.points_required or points == reward.points_required %}
                                            <td>
                                                <a class="btn gold" href="#new_rewards" onclick="redeemRewards('{{ reward.id }}', '{{ reward.points_required }}')">Claim Reward!</a>
                                            </td>
                                        {% else %}
                                            <td class="highlight">
                                                {{ reward.disparity}} more <img style="width: 18px;vertical-align: top;" src="../../static/images/point_reward_star.png"> to unlock this reward
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                
                            	{% else %}
	            				<h4 class="highlight">There are no rewards for you! Tell your parents to make some!</h4>
                            {% endif %}
                        </tbody>
                    </table>
                    <input type="hidden" id="hidden_reward_id" name="hidden_reward_id" value="">
                    <input type="hidden" id="hidden_reward_point" name="hidden_reward_point" value="">
                </form>
            </div>
        </div>    
            
        <div class="row">   
            <div class="span4"><h5>Pending Rewards</h5></div>
            
            <div class="span11">
                <div class="alert-message success" id="remind-success" style="display: none;" onclick="close_tip()">
                    <a class="close" href="#">×</a>
                        Remind successfully! Your parent will receive it immediately.
                </div>
                <div class="alert-message error" id="remind-error" style="display: none;">
                    <a class="close" href="#">×</a>
                        Unfortunately! Remind failed!
                </div>

                <table id='pending_table' class="zebra-striped">
                    <thead class="green">
                        <tr>
                            <th>Reward</th>
                            <th>Earned</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if redemptions %}
                            {% for redemption in redemptions  %}
                                {% if redemption.validated %}
                                {% else %}
                                    <tr>
                                        <td>{{ redemption.name }}</td>
                                        {% if redemption.days == 0 %}
                                            <td>Today</td>
                                            <td class="highlight">Pending...</td>
                                        {% else %}
                                            <td style="color: red;">{{ redemption.days }} days ago!</td>
                                            <td>
                                                <input type="button" class="btn primary" value="Remind your parents!" onclick="remindParents('{{ redemption.name }}')">
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="past_reward" class="row">
            <div class="span4"><h5>Past rewards</h5></div>

            <div class="span11">
                <!-- Insert start -->
                <table class="zebra-striped">
                    <thead class="green">
                    <tr>
                        <th>Reward</th>
                        <th>Date</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% autopaginate past_redemptions 10 %}
                    {% for redemption in past_redemptions %}
                    <tr>
                        <td>{{ redemption.reward.name }}</td>
                        <td>{{ redemption.created_at|date:"N d, Y"  }}</td>
                        <td>{{ redemption.reward.points_required }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% paginate %}
                <!-- End #tab1 -->
                <!-- Insert end -->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {        	
        	$('#li_activate').attr('class', '');
            $('#li_Stats').attr('class', '');
            $('#li_badges').attr('class', '');
            $('#li_rewards').attr('class', 'active');  
        });

        function redeemRewards(reward_id, reward_point){
            $('#hidden_reward_id').val(reward_id);
            $('#hidden_reward_point').val(reward_point);
            $('#div_redeem_info').css('display','');
        }

        function doSubmit(){
            document.forms[0].submit();
        }

        function hideRedeemInfo() {
            $('#div_redeem_info').css('display','none');
        }

        function remindParents(redemptionName) {
            $.ajax({
                type:"GET",
                async:false,
                url:"/kid/remind-parent/",
                data:'reward_name='+redemptionName,
                success: function(data) {
                    if (data == 'True') {
                        $('#remind-success').css('display','');
                        $('#remind-error').css('display','none');
                    }
                    else {
                        $('#remind-success').css('display','none');
                        $('#remind-error').css('display','');
                    }
                }
            });
        }
    </script>
{% endblock %}

