{% extends "base.html" %}

{% block title %}吴江-招聘网 | wj-zpw.com{% endblock %}

{% block head %}
<script type='text/javascript' src="/static/js/bootstrap.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="row">
            <!-- 登陆框 -->
            <div class="main_login">
                <div class="tit">
                    {% if user.is_anonymous %}
                        <span><a class="more" href="{% url login %}">忘记密码？</a></span>
                    {% endif %}
                    会员登录
                </div>
                {% if user.is_anonymous %}
                    <div class="con">
                        <form method="POST" class="form-horizontal" action="{% url login %}" id="login_form">
                            {% csrf_token %}
                            <fieldset>
                                {% if error %}
                                    <div class="control-group">
                                        <label></label>
                                        <div class="controls" style="font-style: italic; color: red;">
                                            {{ error }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="control-group">
                                    <label for="username">用户名：</label>
                                    <div class="controls">
                                        {{ login_form.username }}
                                    </div>
                                </div><!-- /control-group -->
                                <div class="control-group">
                                    <label for="passwd">密　码：</label>
                                    <div class="controls">
                                        {{ login_form.password }}
                                    </div>
                                </div><!-- /control-group -->
                                <div class="control-group">
                                    <label for="code">验证码：</label>
                                    <div class="controls">
                                        {{ login_form.verify_img }}
                                        {{ login_form.verify_img.errors }}
                                    </div>
                                </div><!-- /control-group -->
                                <div class="control-group">
                                    <label id="type">类　型：</label>
                                    <div class="controls choice_radio">
                                        {{ login_form.type }}
                                    </div>
                                </div>
                                <div class="control-group submit" style="text-align: right">
                                    <button class="btn btn-primary" type="submit">登陆</button>
                                </div>
                                <div class="form-actions">
                                    <a href="/personal/register/" class="btn btn-success" style="float:left">个人注册</a>
                                    <a href="/company/register/" class="btn btn-success" style="float:right">企业注册</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                {% endif %}
                {% if user.is_active and not user.is_staff and not user.is_superuser %}
                    <div class="con main_login_success">
                        <ul style="text-align: center">
                            <li class="real_name">{% firstof user.get_profile.real_name user.get_profile.cp_name %}</li>
                            <li>你好！欢迎使用吴江-招聘网</li>
                            <li>
                                <div class="control-group submit">
                                    {% if user.get_profile.type == 0 %}
                                        <a class="more" href="{% url resume_detail %}">>简历管理</a>
                                    {% endif %}
                                    {% if user.get_profile.type == 1 %}
                                        <a class="more" href="{% url resume_detail %}">>信息管理</a>
                                    {% endif %}
                                    &nbsp;
                                    <a class="more" href="#">>职位搜索</a>
                                </div>
                            </li>
                            <li>
                                <a class="btn btn-success" href="#">控制面板<a/>
                                <a class="btn" href="{% url logout %}" style="float:right;">退出</a>
                            </li>
                            <li>您当前的积分为：{{ user.get_profile.points_balance }}</li>
                            <li>您最近登录的时间：</li>
                            <li>{{ user.last_login|date:"Y年m月d日 H时i分" }}</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!-- 搜索框 -->
            <div class="main_search">
                <div style="height:30px;">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab1" data-toggle="tab">职位搜索</a></li>
                        <li><a href="#tab2" data-toggle="tab">人才搜索</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="con tab-pane active" id="tab1">
                        <form method="post" class="form-horizontal" action="/personal/search_job/">
                            {% csrf_token %}
                            <fieldset>
                                <div class="control-group">
                                    <label for="industry">行　业：</label>
                                    <div class="controls">
                                        {{ search_job_form.industry }}
                                        {{ search_job_form.industry.errors }}
                                    </div>
                                    <label for="place">工作地：</label>
                                    <div class="controls">
                                        {{ search_job_form.location }}
                                        {{ search_job_form.location.errors }}
                                    </div>
                                </div><!-- /control-group -->
                                <div class="control-group">
                                    <label id="type">类　型：</label>
                                    <div class="controls choice_radio">
                                        {{ search_job_form.type }}
                                        {{ search_job_form.type.errors }}
                                    </div>
                                </div>
                                <!-- Search custom style without css file Begin-->
                                <div class="control-group" style="padding-right:20px;">
                                    <label id="type" style="padding-top: 5px;">关键字：</label>
                                    <div class="input-prepend" style="float:left">
                                        <span class="add-on" style="height:20px; border-color: #EE5F5B;"><img  style=" width:20px; height:20px;" src="../static/images/search.png"/></span>
                                        {{ search_job_form.filter_str }}
                                        {{ search_job_form.filter_str.errors }}
                                    </div>
                                    <button type="submit" style="float: left;height: 28px; width: 60px; margin-left:20px;" class="btn btn-primary">搜索</button>
                                </div>
                                <!-- Search custom style without css file End-->
                                <div class="keylist form-actions" style="height:auto">
                                    <ul>
                                        <li class="label label-warning"><a href="#">软件工程师</a></li>
                                        <li class="label label-warning"><a href="#">业务员</a></li>
                                        <li class="label label-warning"><a href="#">外贸销售</a></li>
                                        <li class="label label-warning"><a href="#">总经理</a></li>
                                        <li class="label label-warning"><a href="#">项目经理</a></li>
                                        <li class="label label-warning"><a href="#">外派工程师</a></li>
                                        <li class="label label-warning"><a href="#">数据库工程师</a></li>
                                    </ul>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="con tab-pane" id="tab2">
                        <form method="post" class="form-horizontal" action="/company/search_person/">
                            {% csrf_token %}
                            <fieldset>
                                <div class="control-group">
                                    <label for="industry">行　业：</label>
                                    <div class="controls">
                                        {{ search_resume_form.industry }}
                                        {{ search_resume_form.industry.errors }}
                                    </div>
                                    <label for="place" style="width: 90px;">期望工作地：</label>
                                    <div class="controls">
                                        {{ search_resume_form.location }}
                                        {{ search_resume_form.location.errors }}
                                    </div>
                                </div><!-- /control-group -->
                                <div class="control-group">
                                    <label for="industry">到岗时间：</label>
                                    <div class="controls">
                                        {{ search_resume_form.attendance_time }}
                                        {{ search_resume_form.attendance_time.errors }}
                                    </div>
                                    <label for="place" style="width: 80px;">职位类型：</label>
                                    <div class="controls">
                                        {{ search_resume_form.job_type }}
                                        {{ search_resume_form.job_type.errors }}
                                    </div>
                                </div><!-- /control-group -->
                                <div class="control-group">
                                    <label id="type">类　型：</label>
                                    <div class="controls choice_radio">
                                        {{ search_resume_form.type }}
                                        {{ search_resume_form.type.errors }}
                                    </div>
                                </div>
                                <!-- Search custom style without css file Begin-->
                                <div class="control-group" style="padding-right:20px;">
                                    <label id="type" style="padding-top: 5px;">关键字：</label>
                                    <div class="input-prepend" style="float:left">
                                        <span class="add-on" style="height:20px; border-color: #EE5F5B;"><img  style=" width:20px; height:20px;" src="../static/images/search.png"/></span>
                                        {{ search_resume_form.filter_str }}
                                        {{ search_resume_form.filter_str.errors }}
                                    </div>
                                    <button type="submit" style="float: left;height: 28px; width: 60px; margin-left:20px;" class="btn btn-primary">搜索</button>
                                </div>
                                <!-- Search custom style without css file End-->
                                <div class="keylist form-actions" style="height:auto">
                                    <ul>
                                        <li class="label label-warning"><a href="#">软件工程师</a></li>
                                        <li class="label label-warning"><a href="#">业务员</a></li>
                                        <li class="label label-warning"><a href="#">外贸销售</a></li>
                                        <li class="label label-warning"><a href="#">总经理</a></li>
                                        <li class="label label-warning"><a href="#">项目经理</a></li>
                                        <li class="label label-warning"><a href="#">外派工程师</a></li>
                                        <li class="label label-warning"><a href="#">数据库工程师</a></li>
                                    </ul>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 公告框 -->
            <div class="main_ann">
                <div class="tit">
                    <span><a class="more" href="#">更多>></a></span>网站公告
                </div>
                <div class="con">
                    <div class="t1"><img width="59" height="56" src="../static/images/t1.gif"></div>
                    <div class="anouncement">
                        <marquee scrollAmount=1 direction=up height="76">
                            <ul>
                                {% if announce_list %}
                                    {% for announce in announce_list %}
                                        <li><a href="#">{{ announce.subject }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </marquee>
                    </div>
                </div>
            </div>
            <!-- 图片或者视频 -->
            <div class="main_newspic">
                <a href="#">
                    <img alt="" src="{{ configuration.dashboard_image_1.url }}">
                </a>
            </div>
        </div>

        <!-- 图片广告 -->
        <div class="row adv_list">

            {% for img_adv in img_adv_list %}
                    {% if img_adv.span == 6 %}<div class="span_wj10" {% if img_adv.is_move_margin %} style="margin-left: 0px" {% endif %}>{% endif %}
                    {% if img_adv.span == 2 %}<div class="span_wj4" {% if img_adv.is_move_margin %} style="margin-left: 0px" {% endif %}>{% endif %}
                    {% if img_adv.span == 1 %}<div class="span_wj2" {% if img_adv.is_move_margin %} style="margin-left: 0px" {% endif %}>{% endif %}
                    <a href="{{ img_adv.url }}"><img src="{{ img_adv.img }}" title="{{ img_adv.title }}"/></a>
                </div>
            {% endfor %}

        </div>

        <!-- 推荐企业招聘-->
        <div class="row">
            <div class="main_login" style="width:1020px">
                <div class="tit">
                    <span><a class="more" href="#">更多>></a></span>VIP企业招聘
                </div>
                <div class="con suggest_list">
                    <ul>
                        {% for company_job in vip_company_job_list %}
                        <li class="{% if company_job.odd %}tjli{% else %}tjliA{% endif %}">
                            <img src="../static/images/dot.gif">
                            <a href="company/company.html">{{ company_job.name }}</a>
                            <span class="employ_font">聘</span>
                            {% for job in company_job.job_list %}
                            <a href="company/position.html">{{ job.name }}</a>&nbsp;
                            {% endfor %}
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

        <!-- 最新企业招聘 -->
        <div class="row">
            <div class="main_login" style="width:1020px">
                <div class="tit">
                    <span><a class="more" href="#">更多>></a></span>最新企业招聘
                </div>
                <div class="con suggest_list">
                    <ul>
                        {% for company_job in company_job_list %}
                            <li class="{% if company_job.odd %}tjli{% else %}tjliA{% endif %}">
                                <img src="../static/images/dot.gif">
                                <a href="company/company.html">{{ company_job.name }}</a>
                                <span class="employ_font">聘</span>
                                {% for job in company_job.job_list %}
                                    <a href="company/position.html">{{ job.name }}</a>&nbsp;
                                {% endfor %}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

        <!-- 最新人才信息 -->
        <div class="row">
            <div class="main_login" style="width:1020px">
                <div class="tit">
                    <span><a class="more" href="#">更多>></a></span>最新人才信息
                </div>
                <div class="con suggest_list">
                    <ul>
                        {% for person in person_obj_list %}
                        <li class="{% if person.odd %}tjli{% else %}tjliA{% endif %}">
                            <img src="../static/images/dot.gif">
                            <a href="company/company.html">
                                {{ person.name }}
                                -
                                {{ person.education }}
                                -
                                {{ person.major }}
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

        <!-- 友情链接 -->
        <div class="row">
            <div class="main_search" style="width:1022px; margin:0px;">
                <div style="height:30px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#" onClick="return false;">友情链接</a></li>
                    </ul>
                </div>
                <div class="con" style="min-height:inherit">
                    <ul>
                        {% if link_list %}
                            {% for link in link_list %}
                                <li><a href="{{ link.web_site }}" target="_blank">{{ link.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })

</script>
{% endblock %}