{% extends "base.html" %}

{% block title %}吴江-招聘网 | wj-zpw.com{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <script type='text/javascript' src="/static/js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="left_layer">
                <p class="title">欢迎注册成为吴江-招聘网会员</p>
                <p>本站为你提供最及时的吴江大市范围内的招聘信息，让你足不出户，找到最适合自己的工作。</p>
                <p>另外，如果你选择上传WORD文档的简历，请务必确认你的简历中包含以下信息：毕业起始结束年份，大学名称、专业等信息。如果您是有工作经验的社会人士，请注明自己的工作经历，包括工作起始结束时间、公司名称、任职情况、主要收获等信息。</p>
            </div>
            <div class="right_layer">
                <div class="register_head">
                    <img src="../../static/images/wizard_1_r.gif"/>
                    <img src="../../static/images/wizard_2_b.gif"/>
                    <img src="../../static/images/wizard_3_b.gif"/>
                </div>
                <div>
                    <form method="POST" action="{% url personal_register %}" id="register_form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <fieldset>
                        <div class="clearfix">
                            <label for="id_username"><span class="required_star">*</span>用户名：</label>
                            <div class="input">
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_password"><span class="required_star">*</span>密　码：</label>
                            <div class="input">
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_password2"><span class="required_star">*</span>确认密码：</label>
                            <div class="input">
                                {{ form.password2 }}
                                {{ form.password2.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_real_name"><span class="required_star">*</span>真实姓名：</label>
                            <div class="input">
                                {{ form.real_name }}
                                {{ form.real_name.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_email"><span class="required_star">*</span>电子邮件：</label>
                            <div class="input">
                                {{ form.email }}
                                {{ form.email.errors }}
                                <span class="help-block">
                                    <strong>注意:</strong> 请如实填写，当您忘记密码时需要此邮件地址。
                                </span>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_gender"><span class="required_star">*</span>性　别：</label>
                            <div class="input choice_radio">
                                {{ form.gender }}
                                {{ form.gender.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_birthday_f"><span class="required_star">*</span>出生日期：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    {{ form.birthday_f }}
                                    {{ form.birthday_f.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_province"><span class="required_star">*</span>户　籍：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    <select style="width: 70px;" name="province" id="id_province">
                                        <option value>请选择</option>
                                        {% for province in provinces %}
                                            <option value="{{ province.id }}">{{ province.name }}</option>
                                        {% endfor %}
                                    </select>
                                    省(市)
                                    {{ form.census }}
                                    市(地区)
                                    {{ form.census.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_location"><span class="required_star">*</span>现所在地：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    {{ form.location }}
                                    镇/开发区
                                    {{ form.location.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_mobile_phone"><span class="required_star">*</span>手机(电话)：</label>
                            <div class="input">
                                {{ form.mobile_phone }}
                                {{ form.mobile_phone.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_qq">QQ：</label>
                            <div class="input">
                                {{ form.qq }}
                                {{ form.qq.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_wedding">婚姻状况：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    {{ form.wedding }}
                                    {{ form.wedding.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_stature">身　高：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    {{ form.stature }}
                                    CM(公分)
                                    {{ form.stature.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_weight">体　重：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    {{ form.weight }}
                                    KG(千克)
                                    {{ form.weight.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_job_state"><span class="required_star">*</span>求职状态：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    {{ form.job_state }}
                                    {{ form.job_state.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label id="optionsRadio"><span class="required_star">*</span>类　型：</label>
                            <div class="input choice_radio">
                                {{ form.job_type }}
                                {{ form.job_type.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix" id="work_years" style="display: none;">
                            <label for="id_work_years"><span class="required_star">*</span>工作年限：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    {{ form.work_years }}
                                    {{ form.work_years.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <!--
                        <div class="clearfix">
                            <label for="fileInput">Word简历：</label>
                            <div class="input">
                                <input type="file" name="fileInput" id="fileInput" class="input-file">
                            </div>
                        </div>-->
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label id="optionsCheckboxes" style="padding-top:7px;">服务条款：</label>
                            <div class="input">
                                <ul class="inputs-list">
                                    <li>
                                        <label>
                                            {{ form.tos }}
                                            <span>我已认真阅读并同意遵守<a href="#" style="text-decoration:underline">用户服务协议</a></span>
                                        </label>
                                    </li>
                                </ul>
                                <span class="help-block">
                                    <strong>注意:</strong> 您必须同意服务条款才可以继续注册并享受本网站提供的各项服务。
                                </span>
                                {{ form.tos.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="id_verify"><span class="required_star">*</span>验证码：</label>
                            <div class="input">
                                {{ form.verify_img }}
                                {{ form.verify_img.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="actions">
                            <button type="submit" class="btn primary">下一步</button>
                            &nbsp;<a class="btn" href="../index.html">取消</a>
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function() {
        right_height = $('.right_layer').height();
        left_height = $('.left_layer').height();
        if(right_height > left_height) {
            $('.left_layer').height(right_height );
        }
        // Initialize
        var value = $('.job_type:checked').val();
        if (value == 0) {
            $('#work_years').show();
        } else {
            $('#work_years').hide();
        }


        window.prettyPrint && prettyPrint();
        $('#id_birthday_f').datepicker({
            format: 'mm-dd-yyyy'
        })
                .on('changeDate', function(ev){
                    $('#id_birthday_f').datepicker('hide');
                });
        $('#id_birthday_f').click(function() {
            $('#id_birthday_f').datepicker('show');
        });

        // Province switch
        $('#id_province').change(function() {
            var value = $(this).val();
            if (value == '') {
                $('select#id_census').empty();
                $('select#id_census').append('<option value>请选择</option>');
                return;
            }
            $.ajax({
                type:"GET",
                async:false,
                url:"/ajax_get_city_by_province/"+value+"/",
                dataType:"json",
                success: function(data) {
                    $('select#id_census').empty();
                    var data = eval(data);
                    values = data.value;
                    labels = data.label;
                    var str_arr = new Array();
                    if($.isArray(values)) {
                        for(var i = 0; i < values.length; i++) {
                            str_arr.push("<option value=\"" +values[i] + "\">" + labels[i] + "</option>");
                        }
                    } else {
                        str_arr.push("<option value=\"" +values + "\">" + labels + "</option>");
                    }
                    $('select#id_census').append(str_arr.join(''));
                }
            });
        });

        // Work experience switch
        $('.job_type').click(function() {
            var value = $(this).val();
            if (value == 0) {
                $('#work_years').show();
            } else {
                $('#work_years').hide();
            }
        });
    })
</script>
<!-- 主体信息结束 -->
{% endblock %}