{% extends "base.html" %}

{% block title %}吴江-招聘网 | wj-zpw.com{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="left_layer">
                <p class="title">欢迎注册成为吴江-招聘网会员</p>
                <p>本站为你提供最及时的吴江大市范围内的招聘信息，让你足不出户，找到最适合自己的工作。</p>
                <p>另外，如果你选择上传WORD文档的简历，请务必确认你的简历中包含以下信息：毕业起始结束年份，大学名称、专业等信息。如果您是有工作经验的社会人士，请注明自己的工作经历，包括工作起始结束时间、公司名称、任职情况、主要收获等信息。</p>
            </div>
            <div class="right_layer">
                <div class="register_head">
                    <img src="../../static/images/wizard_1_r.gif"/>
                    <img src="../../static/images/wizard_2_b.gif"/>
                    <img src="../../static/images/wizard_3_b.gif"/>
                </div>
                <div>
                    <form method="POST" action="{% url personal_register %}" id="register_form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <fieldset>
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>用户名：</label>
                            <div class="input">
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>密　码：</label>
                            <div class="input">
                                {{ form.password1 }}
                                {{ form.password1.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>确认密码：</label>
                            <div class="input">
                                {{ form.password2 }}
                                {{ form.password2.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>真实姓名：</label>
                            <div class="input">
                                {{ form.real_name }}
                                {{ form.real_name.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>电子邮件：</label>
                            <div class="input">
                                {{ form.email }}
                                {{ form.email.errors }}
                                <span class="help-block">
                                    <strong>注意:</strong> 请如实填写，当您忘记密码时需要此邮件地址。
                                </span>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>性　别：</label>
                            <div class="input choice_radio">
                                    {{ form.gender }}
                                    {{ form.gender.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>出生日期：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    {{ form.birthday }}
                                    {{ form.birthday.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>户　籍：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    <select style="width: 70px;" name="province" id="id_province">
                                        <option value>请选择</option>
                                        {% for province in provinces %}
                                            <option value="{{ province.id }}">{{ province.name }}</option>
                                        {% endfor %}
                                    </select>
                                    省(市)
                                    <select id="id_city" name="city" style="width:70px;">
                                      <option value="" selected>请选择</option>
                                    </select>
                                    市(地区)
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>现所在地：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    {{ form.location }}
                                    {{ form.location.errors }}
                                    镇/开发区
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>手机(电话)：</label>
                            <div class="input">
                                {{ form.mobile_phone }}
                                {{ form.mobile_phone.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput">QQ：</label>
                            <div class="input">
                                {{ form.qq }}
                                {{ form.qq.errors }}
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput">婚姻状况：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    <select style="width: 70px;" name="huji">
                                      <option value="保密" selected="">保密</option>
                                      <option value="未婚">未婚</option>
                                      <option value="已婚">已婚</option>
                                      <option value="离异">离异</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput">身　高：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    <input type="text" size="30" name="xlInput" id="xlInput" class="small" style="width:60px;">
                                    CM(公分)
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput">体　重：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    <input type="text" size="30" name="xlInput" id="xlInput" class="small" style="width:60px;">
                                    KG(千克)
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>求职状态：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    <select id="gzzk" name="gzzk" style="width:300px;">
                                      <option value="0">我目前处于离职状态，可立即上岗</option>
                                      <option value="1">我目前在职，正考虑换个新环境</option>
                                      <option value="2">对现有工作还算满意，有更好的机会才会考虑</option>
                                      <option value="3">应届毕业生</option>
                                      <option value="4">目前暂无跳槽打算</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label id="optionsRadio"><span class="required_star">*</span>类　型：</label>
                            <div class="input">
                                <input type="radio" value="option1" name="optionsRadios" checked="">
                                有工作经验的社会人才
                                <input type="radio" value="option2" name="optionsRadios">
                                在校生或者应届毕业生
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>工作年限（类型选择有经验才显示）：</label>
                            <div class="input">
                                <div class="inline-inputs">
                                    <select id="gzzk" name="gzzk" style="width:100px;">
                                      <option value="1">1年</option>
                                      <option value="2">2年</option>
                                      <option value="3">3-5年</option>
                                      <option value="4">5-10年</option>
                                      <option value="5">10年以上</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <!--
                        <div class="clearfix">
                            <label for="fileInput">Word简历：</label>
                            <div class="input">
                                <input type="file" name="fileInput" id="fileInput" class="input-file">
                            </div>
                        </div>-->
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label id="optionsCheckboxes" style="padding-top:7px;">服务条款：</label>
                            <div class="input">
                                <ul class="inputs-list">
                                    <li>
                                        <label>
                                            <input type="checkbox" value="option1" name="optionsCheckboxes">
                                            <span>我已认真阅读并同意遵守<a href="#" style="text-decoration:underline">用户服务协议</a></span>
                                        </label>
                                    </li>
                                </ul>
                                <span class="help-block">
                                    <strong>注意:</strong> 您必须同意服务条款才可以继续注册并享受本网站提供的各项服务。
                                </span>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="clearfix">
                            <label for="xlInput"><span class="required_star">*</span>验证码：</label>
                            <div class="input">
                                <input type="text" name="code" id="code"  style="width: 60px;">
                                <img src="../../static/images/temp/verifycode.jpg"/>
                            </div>
                        </div>
                        <!-- /clearfix -->
                        <div class="actions">
                            <a class="btn primary" href="registerDetail.html">下一步</a>&nbsp;<a class="btn" href="../index.html">取消</a>
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function() {
        right_height = $('.right_layer').height();
        left_height = $('.left_layer').height();
        if(right_height > left_height) {
            $('.left_layer').height(right_height );
        }
    })
</script>
<!-- 主体信息结束 -->
{% endblock %}