{% extends "base.html" %}

{% block title %}吴江-招聘网 | 公司注册{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <script type='text/javascript' src="/static/js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="left_layer">
                <p class="title">欢迎注册成为吴江-招聘网企业会员</p>
                <p>本站为企业提供最及时的人才信息，让你足不出户，找到最适合自己企业的人才，为企业发展推波助澜。</p>
            </div>
            <div class="right_layer">
                <form method="POST" class="form-horizontal" action="{% url company_register %}" id="register_form">
                {% csrf_token %}
                    <!-- 账户信息 -->
                    <div class="main_login">
                        <div class="tit">
                            账户信息
                        </div>
                        <div>
                            <fieldset>
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>用户名：</label>
                                    <div class="controls">
                                        {{ form.username }}
                                        {{ form.username.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>密　码：</label>
                                    <div class="controls">
                                        {{ form.password }}
                                        {{ form.password.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>确认密码：</label>
                                    <div class="controls">
                                        {{ form.password2 }}
                                        {{ form.password2.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>电子邮件：</label>
                                    <div class="controls">
                                        {{ form.email }}
                                        {{ form.email.errors }}
                                        <span class="help-block">
                                            <strong>注意:</strong> 请如实填写，当您忘记密码时需要此邮件地址。
                                        </span>
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput">&nbsp;</label>
                                    <div class="controls">
                                        <label class="checkbox" style="text-align: left">
                                            {{ form.cp_accept_notice }}
                                            接受本站消息邮件
                                            {{ form.cp_accept_notice.errors }}
                                        </label>
                                    </div>
                                </div>
                                <!-- /control-group -->
                            </fieldset>
                        </div>
                    </div>

                    <!-- 基本资料 -->
                    <div class="main_login">
                        <div class="tit">
                            基本资料
                        </div>
                        <div>
                            <fieldset>
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>公司名称：</label>
                                    <div class="controls">
                                        {{ form.cp_name }}
                                        {{ form.cp_name.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput">营业执照：</label>
                                    <div class="controls">
                                        {{ form.cp_license }}
                                        {{ form.cp_license.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>所属行业：</label>
                                    <div class="controls">
                                        {{ form.cp_industry }}
                                        {{ form.cp_industry.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>所在地：</label>
                                    <div class="controls">
                                        {{ form.location }}
                                        {{ form.location.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>公司性质：</label>
                                    <div class="controls">
                                        {{ form.cp_nature }}
                                        {{ form.cp_nature.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput">公司规模：</label>
                                    <div class="controls">
                                        {{ form.cp_scope }}
                                        {{ form.cp_scope.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>公司简介：</label>
                                    <div class="controls">
                                        {{ form.cp_intro }}
                                        {{ form.cp_intro.errors }}
                                        <span class="help-block">请尽量详细填写，往往应聘者比较关注此项信息。</span>
                                        <span class="help-block">限2000个中文字，已输入<span id='edu_span_id' style="color:red">0</span>个字</span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>


                    <!-- 联系方式 -->
                    <div class="main_login">
                        <div class="tit">
                            联系方式
                        </div>
                        <div>
                            <fieldset>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput">通讯地址：</label>
                                    <div class="controls">
                                        {{ form.cp_address }}
                                        {{ form.cp_address.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput">邮政编码：</label>
                                    <div class="controls">
                                        {{ form.cp_postcode }}
                                        {{ form.cp_postcode.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>联系人：</label>
                                    <div class="controls">
                                        {{ form.cp_contact }}
                                        {{ form.cp_contact.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>联系电话：</label>
                                    <div class="controls">
                                        {{ form.cp_telephone }}
                                        {{ form.cp_telephone.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput">手　机：</label>
                                    <div class="controls">
                                        {{ form.cp_mobile_phone }}
                                        {{ form.cp_mobile_phone.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput">传　真：</label>
                                    <div class="controls">
                                        {{ form.cp_fax }}
                                        {{ form.cp_fax.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput">QQ号码：</label>
                                    <div class="controls">
                                        {{ form.qq }}
                                        {{ form.qq.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput">公司主页：</label>
                                    <div class="controls">
                                        {{ form.cp_website }}
                                        {{ form.cp_website.errors }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <!-- 会员服务 -->
                    <div class="main_login">
                        <div class="tit">
                            会员服务
                        </div>
                        <div>
                            <fieldset>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="xlInput"><span class="required_star">*</span>会员服务：</label>
                                    <div class="controls">
                                        {{ form.cp_service }}<a href="#" style="text-decoration:underline">为什么要成为VIP会员</a>
                                        {{ form.cp_service.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label id="optionsCheckboxes" style="padding-top:7px;">服务条款：</label>
                                    <div class="controls">
                                        <ul class="inputs-list">
                                            <li>
                                                <label>
                                                    {{ form.tos }}
                                                    <span>我已认真阅读并同意遵守<a href="/system/foot_item/2/" target="_blank" style="text-decoration:underline">用户服务协议</a></span>
                                                </label>
                                            </li>
                                        </ul>
                                        <span class="help-block">
                                            <strong>注意:</strong> 您必须同意服务条款才可以继续注册并享受本网站提供的各项服务。
                                        </span>
                                        {{ form.tos.errors }}
                                    </div>
                                </div>
                                <!-- /control-group -->
                                <div class="control-group">
                                    <label for="id_verify"><span class="required_star">*</span>验证码：</label>
                                    <div class="controls">
                                        {{ form.verify_img }}
                                        {{ form.verify_img.errors }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="main_login" style="border:none; -moz-box-shadow:none">
                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit" >完成</button>
                            &nbsp;<a class="btn" href="../index.html">取消</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function() {
        right_height = $('.right_layer').height();
        left_height = $('.left_layer').height();
        if(right_height > left_height) {
            $('.left_layer').height(right_height );
        }
        // Initialize
//
//        // Province switch
//        $('#id_province').change(function() {
//            var value = $(this).val();
//            if (value == '') {
//                $('select#id_census').empty();
//                $('select#id_census').append('<option value>请选择</option>');
//                return;
//            }
//            $.ajax({
//                type:"GET",
//                async:false,
//                url:"/ajax_get_city_by_province/"+value+"/",
//                dataType:"json",
//                success: function(data) {
//                    $('select#id_census').empty();
//                    var data = eval(data);
//                    values = data.value;
//                    labels = data.label;
//                    var str_arr = new Array();
//                    if($.isArray(values)) {
//                        for(var i = 0; i < values.length; i++) {
//                            str_arr.push("<option value=\"" +values[i] + "\">" + labels[i] + "</option>");
//                        }
//                    } else {
//                        str_arr.push("<option value=\"" +values + "\">" + labels + "</option>");
//                    }
//                    $('select#id_census').append(str_arr.join(''));
//                }
//            });
//        });

    })
</script>
<!-- 主体信息结束 -->
{% endblock %}